.gallery{
    position: flex;
}
.gallery-cover{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.image-container:hover .image-text {
  opacity: 4;
}
.image-container .gallery-cover:hover {
  opacity: 0.5;
}

  
.image-container {
    position: relative;
    display: inline-block;
    max-width: 30%;
    max-height: 500px;
    display: inline-block;
    padding: 0.5%;
  }
.image-container img {
    display: block;
    width: 100%;
    height: auto;
  }
  
.image-text {
    position: absolute;
    top: 5%;
    
    left: 41%;
    background-color: rgba(
      0,
      0,
      0,
      0.7
    ); /* Adjust background color and opacity */
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 3vh;
  }