<!-- Gallery Modal -->
<div *ngIf="galleryVisible" class="modal">
  <span class="close" (click)="closeGallery()">&times;</span>
  <img [src]="currentImage" class="modal-content">
  <div class="caption">{{ currentImageIndex + 1 }} / {{ currentArray.length }}</div>

  <!-- Next/Previous controls -->
  <div class="GalleryNavigation">
    <a class="prev" (click)="prevImage()">&#10094;</a>
    <a class="next" (click)="nextImage()">&#10095;</a>
  </div>
</div>

<!-- Image Grid -->
<div class="row">
  <div class="photo-item" *ngFor="let img of Array1; let i = index">
    <img loading="eager"
         [src]="img"
         alt="Img"
         (click)="openGallery(Array1, i)">
  </div>
</div>



