<div class="Gallery">
    <div class="grouping"> <!-- Convert each grouping into their own dedicated gallery based on the even for each one-->
          <img src="../../.../../../../assets/images/MoA/dc.JPG" alt="Cinque Terre" width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
        
          <img src="../../.../../../../assets/images/MoA/Ds.JPG"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
          <img src="../../.../../../../assets/images/MoA/IMG_2468.JPG" width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
          <img src="../../.../../../../assets/images/MoA/ms.JPG"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
</div>
<div class="Gallery">
    <div class="grouping">
          <img src="../../.../../../../assets/images/MoA/IMG_2491.JPG" alt="Cinque Terre" width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
        
          <img src="../../.../../../../assets/images/MoA/IMG_2519.JPG"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
          <img src="../../.../../../../assets/images/MoA/IMG_2578.JPG" width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
      
      <div class="grouping">
          <img src="../../.../../../../assets/images/MoA/Jm.JPG"  width="600" height="400">
        <div class="desc">Add a description of the image here</div>
      </div>
</div>
