img{
    height: auto; 
    width: auto; 
    height: auto; 
    width: auto; 
    max-width: 60%; 
    max-height: 75%;
    border: 3px solid #050505;
}
  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
  .container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 80vh;          /* Full height of the viewport for demonstration purposes */
    background-color: lightgray; /* For visualization, remove if not needed */
  }
  
  .centered-div {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    width: 100%;            /* Full width of the container */
    height: 100%;           /* Full height of the container */
    background-color: lightgray; /* For visualization, remove if not needed */
  }
  
  .centered-div img {
    max-width: 100%;        /* Responsive image */
    max-height: 99%;       /* Ensure it doesn't overflow */
  }
  
  